* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #EC2F46;
    --cor-terciaria: #F9F9F9;
    --cor-quartenaria: #040814;
    --cor-quintenaria: #167BF7;
    --cor-sextenaria: #C0C0C0;
    --cor-setenaria: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-setenaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
}

.container-principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-caixa {
    margin: 0 6em;
    width: 588px;
}

.container-titulo {
    font-size: 1.75em;
    font-weight: 700;

}

.container-imagem {
    margin: 1em 0 2em 0;
}

.container-botao {
    background-color: var(--cor-quintenaria);
    text-decoration: none;
    border-radius: 8px;
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
    margin-bottom:1em;
}

.container-botao-secundario {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--cor-primaria);
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
}

.container-aviso {
    font-weight: 200;
    font-size: 0.75em;
    color: var(--cor-sextenaria);
    padding-top:1em;
}



/* Segunda Section */

.container-secundario {
    align-items: center;
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.secundario-imagem {
    width: 498px;
    margin: 0 30%;
}

.container-descricao {
    width: 588px;
}

.descricao-titulo {
    font-size: 3em;
    font-weight: 800;
    text-align: left;
    color: var(--cor-primaria);
}

.descricao-paragrafo {
    font-family: var(--fonte-principal);
    color: var(--cor-sextenaria);
    font-size: 1em;
    text-align: left;
}




/* Terceira Section */




/* Quarta Section */

.notebook-imagem {
    width: 498px;
    margin: 0 40%;
}