* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #EC2F46;
    --cor-terciaria: #F9F9F9;
    --cor-quartenaria: #040814;
    --cor-quintenaria: #167BF7;
    --cor-sextenaria: #C0C0C0;
    --cor-setenaria: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-setenaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
}

.container-principal {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-caixa {
    margin: 0 6em;
    width: 36.75em;
}

.container-titulo {
    font-size: 1.75em;
    font-weight: 700;

}

.combo-imagem {
    margin: 1em 0 2em 0;
}

.container-botao {
    background-color: var(--cor-quintenaria);
    text-decoration: none;
    border-radius: 0.5em;
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
    margin-bottom:1em;
}

.container-botao:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.container-botao-secundario {
    text-decoration: none;
    border-radius: 0.5em;
    border: 1px solid var(--cor-primaria);
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
}

.container-botao-secundario:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.container-aviso {
    font-weight: 200;
    font-size: 0.75em;
    color: var(--cor-sextenaria);
    padding-top:1em;
}



/* Segunda Section */

.container-secundario {
    align-items: center;
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.plataformas-imagem {
    width: 31.125em;
    margin: 0 30%;
}

.plataformas-imagem-combo {
    width: 31.125em;
    margin: 0 5%;
}

.container-descricao {
    width: 36.75em;
}

.container-descricao-combo {
    width: 36.75em;
    margin-left: 18em;
    text-align: left;
}

.descricao-titulo {
    font-size: 3em;
    font-weight: 800;
    text-align: left;
    color: var(--cor-primaria);
}

.descricao-paragrafo {
    font-family: var(--fonte-principal);
    color: var(--cor-sextenaria);
    font-size: 1em;
    text-align: left;
}

.container-botao-combo {
    background-color: var(--cor-quintenaria);
    text-decoration: none;
    border-radius: 0.5em;
    padding: 1em;
    color: var(--cor-primaria);
    display: inline-block;
    margin-top: 1em;
}

.container-botao-combo:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

/* Footer */

.dispositivos {
    text-align: center;
}

.dispositivos-titulo {
    font-size: 3em;
    color: var(--cor-primaria);
}

.dispositivos-lista {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 5em 0;
}

.lista-item {
    font-size:2em;
    color: var(--cor-primaria);
}




.rodape {
    text-align: center;
    margin: 5em 0;
}

.rodape-lista {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding-top: 2em;
}

.rodape-lista-link {
    list-style: none;
    margin: 2em 0;
    text-decoration: none;
    color: var(--cor-sextenaria);
}

.rodape-lista-link:hover {
    color: var(--cor-quintenaria);
}

.rodape-lista-link:active {
    color: purple;
}

.rodape-paragrafo {
    font-size: 0.9em;
    font-family: var(--fonte-principal);
    color: var(--cor-sextenaria);
    padding-top: 20px;
    width: 1200px;
    display: inline-block;
}



/* CSS media query Mobile and Tablets */
/* @media (min-width: 280px) and (max-width: 1200px) {
    
    
  } */